<%- include('header') -%>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <form id="login" method="POST" action="auth/login">
          <div class="form-group">
            <label for="playername">Nome do jogador
              <input type="text" class="form-control" id="playername" aria-describedby="Nome do jogador">
            </label>
            </div>
          <input type="image" width="64px" height="64px" src="img/Play1.png">
        </form>
      </div>
    </div>
  </div>
<%- include('footer') -%>
